

    <div class="container ">
        <div class="row">
            <div class="col-md-8">
                <h2>Daftar COntact</h2>

                <a href="/contact/add" class="btn btn-primary mb-2">Tambah data Contact</a>

                <% if (msg.length !== 0) { %>
                    <div class="alert alert-success" role="alert">
                         succes 
                      </div>
                      
                <% } %>

                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nama</th>
                        <th scope="col">No Hp</th>
                        <th scope="col">Handle</th>
                      </tr>
                    </thead>
                    <tbody>
                        <% if (contacts.length === 0) { %>
                            <tr>
                                <td colspan="4">
                                    <div class="alert alert-danger" role="alert">
                                        data contact masih kosong
                                       
                                       </div>
                                </td>
                            </tr>
                        <% } %>
                        <% let no = 1 ; %> 
                        <% contacts.forEach(contact => { %>
                            
                            <tr>
                              <th scope="row"><%= no++ %> </th>
                              <td><%= contact.name %> </td>
                              <td><%= contact.nohp %> </td>
                              <td>
                                  <a href="/contact/<%= contact.name %> " class="btn btn-success badge rounded-pill"><i class="bi bi-info-circle"></i> detail</a>
                              </td>
                            </tr>
                        <% }) %>
                      
                    </tbody>
                  </table>

            </div>
        </div>
        
    </div>


   
